header {
    background-color: #353535;
    width: 100%;
    height: 5rem;
}

header nav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

header nav a:hover,
header nav a:active {
    color: #cf54a6;
}