@use "../abstract/variables" as var;
@use "../abstract/mixins" as mixin;

.section-about {
    background-color: var.$color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include mixin.respond(tab-port) {
        padding: 20rem 0;
        // margin-top: -10vh;
    }
}

.section-features {
    padding: 20rem 0;
    margin-top: -10rem;

    background-image: linear-gradient(
        to right bottom, 
        rgba(var.$color-primary-light, 0.8), 
        rgba(var.$color-primary-dark, 0.8)), 
        url("../img/nat-4.jpg");
    background-size: cover;

    transform: skewY(-7deg);

    & > * {
        // Pour que les cards se remettent dans l'etat originel
        transform: skewY(7deg);
    }

    @include mixin.respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: var.$color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include mixin.respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;

    @include mixin.respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-book {
    background-image: linear-gradient(to right bottom, var.$color-primary-light, var.$color-primary-dark);
    padding: 15rem 0;

    @include mixin.respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    background-image:   linear-gradient(105deg, 
                        rgba(var.$color-white, .9) 0%, 
                        rgba(var.$color-white, .9) 50%, 
                        transparent 50%), 
                        url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(var.$color-black, .2);

    @include mixin.respond(tab-land) {
        background-image:   linear-gradient(105deg, 
                    rgba(var.$color-white, .9) 0%, 
                    rgba(var.$color-white, .9) 70%, 
                    transparent 70%), 
                    url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include mixin.respond(tab-land) {
            width: 65%;
        }
    }
}